<div class="backgroundimg">
    <br>
    <br>
    <br>
    <br>
<form class="createP">
    <h2 class="playername">Player's Name</h2><input class="firstname" name="name" placeholder=
        "First Name" type="text"> <input class="lastname" name="name"
                                         placeholder="Last Name" type="text">
    <h2>Player Position:</h2><select>
    <option class="position">
        Position
    </option>
    <option class="C">
        C
    </option>
    <option class="1B">
        1B
    </option>
    <option class="2B">
        2B
    </option>
    <option class="3B">
        3B
    </option>
    <option class="SS">
        SS
    </option>
    <option class="LF">
        LF
    </option>
    <option class="CF">
        CF
    </option>
    <option class="RF">
        RF
    </option>
    <option class="P">
        P
    </option>
    <option class="DH">
        DH
    </option>
</select>
    <h2>Second Position:</h2><select>
    <option class="position">
        Position
    </option>
    <option class="C">
        C
    </option>
    <option class="1B">
        1B
    </option>
    <option class="2B">
        2B
    </option>
    <option class="3B">
        3B
    </option>
    <option class="SS">
        SS
    </option>
    <option class="LF">
        LF
    </option>
    <option class="CF">
        CF
    </option>
    <option class="RF">
        RF
    </option>
    <option class="P">
        P
    </option>
    <option class="DH">
        DH
    </option>
</select>
    <h2>Bats:</h2><input class="batsleft" name="batsfrom" type="button"
                         value="Left"> <input class="batsright" name="batsfrom" type="button"
                                              value="Right">
    <h2>Throws:</h2><input class="throwsleft" name="throws" type="button"
                           value="Left"> <input class="throwsright" name="throws" type="button"
                                                value="Right"> <button>Submit</button>
</form>
</div>