<!--THIS IS THE CONTROLLER AND LOG IN FORM ON FRONT PAGE-->
<!--<div id="content">&lt;!&ndash;class ="ng-scope"&ndash;&gt;-->
    <!--<div ng-show="showLogIn">-->
        <!--<form>-->
            <!--<div class="loginput">-->
                <!--<input type="text" placeholder="Username" ng-model="username" id="username" required><br>-->
                <!--<input type="password" placeholder="Password" ng-model="password" id="password" required>-->
                <!--<button ng-click="loginSubmit()">Submit</button>-->
            <!--</div>-->
        <!--</form>-->
    <!--</div>-->
<!--</div>-->