<!--<div ng-show="showMainPage">-->
    <!--<div class="container-fluid" ng-controller="MainController">-->
        <!--<div class="row">-->


    <!--&lt;!&ndash;[][][][][][][][][][][][][]]LEFT SIDE PITCHER LEFT OR RIGHT[][][][][][][][][][][][][][][][][&ndash;&gt;-->
                <!--<div class="col-md-3 left">-->
                    <!--<div class="pitcherstyle"><h2 class="pitcher">Pitcher</h2>-->
                        <!--<form ng-model="pitcher">-->
                            <!--<input type="button" value="Lefty" name="throws" class="leftybtn">-->
                            <!--<input type="button" value="Righty" name="throws" class="rightybtn">-->
                        <!--</form>-->
                    <!--</div>-->
    <!--&lt;!&ndash;[][][][][][][][][][][][][]]LEFT SIDE PITCHER TYPES[][][][][][][][][][][][][][][][][][][][]][&ndash;&gt;-->
                    <!--<div class="pitchstyle"><h2 class="pitchheader">Pitch Types</h2>-->
                        <!--<form ng-model="pitchtypes">-->
                            <!--<div class="pitchbtns">-->
                                <!--<input type="button" value="Fastball" name="pitchtype" class="fastball"><br/>-->
                                <!--<input type="button" value="Changeup" name="pitchtype" class="changeup"><br/>-->
                                <!--<input type="button" value="Curveball" name="pitchtype" class="curveball"><br/>-->
                                <!--<input type="button" value="Slider" name="pitchtype" class="slider"><br/>-->
                                <!--<input type="button" value="Slurve" name="pitchtype" class="slurve"><br/>-->
                                <!--<input type="button" value="Cutter" name="pitchtype" class="cutter"><br/>-->
                                <!--<input type="button" value="Sinker" name="pitchtype" class="sinker"><br/>-->
                            <!--</div>-->
                        <!--</form>-->
                    <!--</div>-->
        <!--&lt;!&ndash;[][][][][][][][][][][][][]]LEFT SIDE PITCH RESULT[][][][][][][][][][][][][][][][][][][][]][&ndash;&gt;-->
                    <!--<div class="resultstyle"><h2 class="pitchresult">Pitch Result</h2>-->
                        <!--<form ng-model="pitchresult">-->
                            <!--<div class="resultbtns">-->
                                <!--<input type="button" value="Ball" name="pitchresult">-->
                                <!--<input type="button" value="Strike" name="pitchresult">-->
                                <!--<input type="button" value="Foul" name="pitchresult">-->
                            <!--</div>-->
                        <!--</form>-->
                    <!--</div>-->
                <!--</div>-->
        <!--&lt;!&ndash;[][][][][][][][][][][][][]]LEFT SIDE END'S HERE[][][][][][][][][][][][][][][][][][][][]][&ndash;&gt;-->

            <!--<div class="col-md-6 partials">-->
                <!--<div class="patrialstyle"><h1>Main Container</h1></div>-->
                <!--<ul class="nav nav-tabs">-->
                    <!--<li class="active"><a data-toggle="tab" href="/gametime">Game Time</a></li>-->
                    <!--<li><a data-toggle="tab" href="/createplayer">Create Player</a></li>-->
                    <!--<li><a data-toggle="tab" href="/stats">Stats</a></li>-->
                <!--</ul>-->
                <!--<img src="/assets/images/gen.jpg" width="864px" height="537px">-->
            <!--</div>-->

        <!--&lt;!&ndash;[][][][][][][][][][][][][]]RIGHT SIDE 'BATTER' STARTS HERE[][][][][][][][][][][][][][][][][&ndash;&gt;-->
        <!--<div class="col-md-3 right">-->
            <!--<div class="batterstyle"><h2 class="batter">Batter</h2>-->
                <!--<select ng-model="batter">-->
                    <!--<option value="____Input batter here____"></option>&lt;!&ndash;This needs a way to input batters from the database&ndash;&gt;-->
                    <!--<option value="batter1">Batter 1</option>-->
                    <!--<option value="batter2">Batter 2</option>-->
                    <!--<option value="batter3">Batter 3</option>-->
                    <!--<option value="batter4">Batter 4</option>-->
                <!--</select>-->
            <!--</div>-->
            <!--&lt;!&ndash;[][][][][][][][][][][][][]]RIGHT SIDE HIT[][][][][][][][][][][][][][][][][][][][]][&ndash;&gt;-->
            <!--<div class="ABstyle"><h2 class="abheader">AB Result:</h2><br>-->
                <!--<h2 class="hitheader">Hit</h2>-->
                <!--<form ng-model="ABresult">-->
                    <!--<div class="hitbtns">-->
                        <!--<input type="button" value="H" name="ABresult">-->
                        <!--<input type="button" value="2B" name="ABresult" >-->
                        <!--<input type="button" value="3B" name="ABresult">-->
                        <!--<input type="button" value="HR" name="ABresult">-->
                        <!--<input type="button" value="BB" name="ABresult">-->
                        <!--<input type="button" value="SF" name="ABresult">-->
                    <!--</div>-->
                <!--</form>-->
            <!--</div>-->
            <!--&lt;!&ndash;[][][][][][][][][][][][][]]RIGHT SIDE AB RESULT[][][][][][][][][][][][][][][][][][][][]][&ndash;&gt;-->
            <!--<div class="ABresultstyle"><h2 class="outheader">Out</h2>-->
                <!--<form ng-model="ABout">-->
                    <!--<div class="outbtns">-->
                        <!--<input type="button" value="P.F." name="Outresult">-->
                        <!--<input type="button" value="L.D." name="Outresult">-->
                        <!--<input type="button" value="G.B." name="Outresult">-->
                        <!--<input type="button" value="K" name="Outresult">-->
                        <!--<input type="button" value="(k)" name="Outresult">-->
                    <!--</div>-->
                <!--</form>-->
            <!--</div>-->
    <!--&lt;!&ndash;[][][][][][][][][][][][][][][][][][]]RIGHT SIDE END'S HERE[][][][][][][][][][][][][][][][][][]][][][][][][][][][]&ndash;&gt;-->
        <!--</div>-->
        <!--</div>-->
    <!--&lt;!&ndash;<footer class="site-footer">I'm the Sticky Footer.</footer>&ndash;&gt;-->
    <!--</div>-->
