
<!--I  HAVE MOVED THIS COL-MD-6 PARTIALS HERE AS A TEST TO SEE IF I CAN MAKE CHANGING BETWEEN "GAME TIME", "CREATE PLAYER" AND "STATS" MORE MANAGEABLE-->
<!--<div id=""-->
<!--<div class="col-md-6 partials">-->
    <!--<div class="patrialstyle"><h1>Main Container</h1></div>-->
    <!--<ul class="nav nav-tabs">-->
        <!--<li class="active"><a data-toggle="tab" href="/gametime">Game Time</a></li>-->
        <!--<li><a data-toggle="tab" href="/createplayer">Create Player</a></li>-->
        <!--<li><a data-toggle="tab" href="/stats">Stats</a></li>-->
    <!--</ul>-->
    <!--<img src="/assets/images/gen.jpg" width="864px" height="537px">-->
<!--</div>-->
<!--</div>-->